.perfil_imagem{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.cartao_profissional{
    background-color: aqua;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
    display: grid;
    gap: 1em;
}
.perfil_nome{
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.perfil_funcao{
    font-size: 1.2rem;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
}
.perfil_descricao{
    font-size: 1.0rem;
    line-height: 1.5;
    color: #555;
}
.perfil_botao{
    background-color: blue;
    color: white;
    border: none;
    padding: 1.0rem;
    cursor: pointer;
}