.banner{
    width: 100%;
    height: 347px;
    /*background-image: url('/fundo.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-block: 2rem;
    bottom: 0;
}