.header{
    background-color: black;
    border-bottom: 2px solid #56db09;
    position: absolute;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}
.header span{
    font-size: 2rem;
    color:#56db09;
    font-weight: 500;   
}
.header a {
    text-decoration: none;
    color: rgb(9, 190, 18);
    margin-inline: 1rem;
    font-size: 1.125rem;
}

@media (min-width:501px) and (max-width:1023px){
    .span{
        padding: 1rem;
        margin: 1rem;
        gap: 1rem;
        text-align: left;

    }
}